.form-all {
	color: rgb(0, 0, 0); font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif; font-size: 14px; background-repeat: no-repeat;
}
.form-line {
	margin: 6px 0px; padding: 12px 36px; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-label-top {
	font-weight: bold; margin-bottom: 9px;
}
.form-label-left {
	font-weight: bold; margin-bottom: 9px;
}
.form-label-right {
	font-weight: bold; margin-bottom: 9px;
}
.form-label-right {
	padding-right: 15px; margin-right: 0px;
}
.form-textbox {
	padding: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 1.07em; font-size: 1em; margin-left: 0px; box-shadow: inset 0px 1px 2px #eee; -moz-box-shadow: 0 1px 2px #eee inset; -webkit-box-shadow: 0 1px 2px #eee inset;
}
.form-textarea {
	padding: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 1.07em; font-size: 1em; margin-left: 0px; box-shadow: inset 0px 1px 2px #eee; -moz-box-shadow: 0 1px 2px #eee inset; -webkit-box-shadow: 0 1px 2px #eee inset;
}
.form-radio-other-input {
	padding: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 1.07em; font-size: 1em; margin-left: 0px; box-shadow: inset 0px 1px 2px #eee; -moz-box-shadow: 0 1px 2px #eee inset; -webkit-box-shadow: 0 1px 2px #eee inset;
}
.form-checkbox-other-input {
	padding: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 1.07em; font-size: 1em; margin-left: 0px; box-shadow: inset 0px 1px 2px #eee; -moz-box-shadow: 0 1px 2px #eee inset; -webkit-box-shadow: 0 1px 2px #eee inset;
}
.form-captcha input {
	padding: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 1.07em; font-size: 1em; margin-left: 0px; box-shadow: inset 0px 1px 2px #eee; -moz-box-shadow: 0 1px 2px #eee inset; -webkit-box-shadow: 0 1px 2px #eee inset;
}
.form-radio-other-input {
	margin-top: -3px;
}
.form-checkbox-other-input {
	margin-top: -3px;
}
.form-spinner input {
	padding: 3px !important;
}
.form-all .form-upload {
	border: currentColor; border-image: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.form-sub-label {
	font-size: 0.78em; margin-top: 3px;
}
.form-dropdown {
	padding: 2px; font-size: 0.85em;
}
.form-radio {
	margin-top: 2px; vertical-align: top;
}
.form-checkbox {
	margin-top: 2px; vertical-align: top;
}
.form-radio-item label {
	color: rgb(0, 0, 0); font-size: 1em;
}
.form-checkbox-item label {
	color: rgb(0, 0, 0); font-size: 1em;
}
.form-grading-label {
	color: rgb(0, 0, 0); font-size: 1em;
}
.form-radio-item {
	margin-top: 0px; margin-bottom: 6px;
}
.form-checkbox-item {
	margin-top: 0px; margin-bottom: 6px;
}
.form-header-group {
	background: none; border-width: 1px medium; border-style: solid none; border-color: rgb(227, 227, 227) currentColor; margin: 12px 36px 18px; padding: 24px 0px; border-image: none;
}
li:first-child .form-header-group {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.form-header-group + .form-header-group {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
h1.form-header {
	font-size: 2.14em;
}
h2.form-header {
	font-size: 1.71em;
}
h3.form-header {
	font-size: 1.5em;
}
.form-header {
	color: rgb(0, 0, 0);
}
.form-subHeader {
	margin: 3px 0px 0px; line-height: 1.5em; font-size: 1.07em; font-style: normal; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.form-pagebreak-back {
	background: -ms-linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); padding: 6px 12px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); cursor: pointer; box-shadow: inset 0px 1px #fff, 0px 1px #ddd; text-shadow: 0px 1px #fff; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd; -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
}
.form-pagebreak-next {
	background: -ms-linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); padding: 6px 12px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); cursor: pointer; box-shadow: inset 0px 1px #fff, 0px 1px #ddd; text-shadow: 0px 1px #fff; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd; -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
}
.qq-upload-button {
	background: -ms-linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); padding: 6px 12px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); cursor: pointer; box-shadow: inset 0px 1px #fff, 0px 1px #ddd; text-shadow: 0px 1px #fff; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd; -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
}
.form-submit-button {
	background: -ms-linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); padding: 6px 12px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); cursor: pointer; box-shadow: inset 0px 1px #fff, 0px 1px #ddd; text-shadow: 0px 1px #fff; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd; -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
}
.form-submit-reset {
	background: -ms-linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); padding: 6px 12px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); cursor: pointer; box-shadow: inset 0px 1px #fff, 0px 1px #ddd; text-shadow: 0px 1px #fff; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd; -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
}
.form-submit-print {
	background: -ms-linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); padding: 6px 12px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); cursor: pointer; box-shadow: inset 0px 1px #fff, 0px 1px #ddd; text-shadow: 0px 1px #fff; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd; -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
}
.form-pagebreak-back:hover {
	background: -ms-linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
}
.form-pagebreak-next:hover {
	background: -ms-linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
}
.form-submit-button:hover {
	background: -ms-linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
}
.qq-upload-button:hover {
	background: -ms-linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
}
.form-submit-reset:hover {
	background: -ms-linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
}
.form-submit-print:hover {
	background: -ms-linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
}
.form-pagebreak-back:active {
	background: -ms-linear-gradient(rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%); box-shadow: inset 0px 1px #fff; -moz-box-shadow: 0 1px #fff inset; -webkit-box-shadow: 0 1px #fff inset;
}
.form-pagebreak-next:active {
	background: -ms-linear-gradient(rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%); box-shadow: inset 0px 1px #fff; -moz-box-shadow: 0 1px #fff inset; -webkit-box-shadow: 0 1px #fff inset;
}
.form-submit-button:active {
	background: -ms-linear-gradient(rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%); box-shadow: inset 0px 1px #fff; -moz-box-shadow: 0 1px #fff inset; -webkit-box-shadow: 0 1px #fff inset;
}
.qq-upload-button:active {
	background: -ms-linear-gradient(rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%); box-shadow: inset 0px 1px #fff; -moz-box-shadow: 0 1px #fff inset; -webkit-box-shadow: 0 1px #fff inset;
}
.form-submit-reset:active {
	background: -ms-linear-gradient(rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%); box-shadow: inset 0px 1px #fff; -moz-box-shadow: 0 1px #fff inset; -webkit-box-shadow: 0 1px #fff inset;
}
.form-submit-print:active {
	background: -ms-linear-gradient(rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%); box-shadow: inset 0px 1px #fff; -moz-box-shadow: 0 1px #fff inset; -webkit-box-shadow: 0 1px #fff inset;
}
.form-submit-button {
	color: rgb(51, 51, 51); font-size: 1em; margin-top: 12px; margin-bottom: 12px;
}
.form-submit-reset {
	color: rgb(51, 51, 51); font-size: 1em; margin-top: 12px; margin-bottom: 12px;
}
.form-submit-print {
	color: rgb(51, 51, 51); font-size: 1em; margin-top: 12px; margin-bottom: 12px;
}
.form-submit-reset {
	padding: 4px 8px; font-size: 0.85em;
}
.form-submit-print {
	padding: 4px 8px; font-size: 0.85em;
}
.form-submit-print img {
	margin: -4px 3px 0px -7px;
}
.qq-upload-button {
	padding: 8px 0px; border-radius: 6px; -moz-border-radius: 6px 6px; -webkit-border-radius: 6px 6px;
}
.form-line-active {
	background: rgb(255, 251, 234);
}
.form-line-active input:focus {
	border: 1px solid rgb(255, 211, 0); border-image: none; box-shadow: 0px 0px 3px #fff0aa; -moz-box-shadow: 0 0 3px #FFF0AA; -webkit-box-shadow: 0 0 3px #FFF0AA;
}
.form-line-active textarea:focus {
	border: 1px solid rgb(255, 211, 0); border-image: none; box-shadow: 0px 0px 3px #fff0aa; -moz-box-shadow: 0 0 3px #FFF0AA; -webkit-box-shadow: 0 0 3px #FFF0AA;
}
.form-line-error {
	background: rgb(255, 244, 244);
}
.form-line-error input:not(#coupon-input) {
	border: 1px solid rgb(225, 83, 83); border-image: none; box-shadow: 0px 0px 3px #e15353; -moz-box-shadow: 0 0 3px #e15353; -webkit-box-shadow: 0 0 3px #e15353;
}
.form-line-error textarea {
	border: 1px solid rgb(225, 83, 83); border-image: none; box-shadow: 0px 0px 3px #e15353; -moz-box-shadow: 0 0 3px #e15353; -webkit-box-shadow: 0 0 3px #e15353;
}
.form-line-error .form-error-message {
	background: rgb(225, 83, 83); padding: 6px; color: rgb(255, 255, 255); margin-bottom: 3px; box-shadow: 0px 1px 2px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.form-error-arrow {
	border-bottom-color: rgb(225, 83, 83);
}
.form-error-arrow-inner {
	display: none;
}
.form-matrix-table {
	font-size: 1em;
}
.form-matrix-row-headers {
	font-size: 0.78em; font-weight: normal;
}
.form-matrix-column-headers {
	font-size: 0.78em; font-weight: normal;
}
.form-scale-table th {
	padding: 9px 6px;
}
.form-scale-table td {
	padding: 9px 6px;
}
.form-scale-table label {
	
}
.form-grading-item {
	margin-bottom: 6px;
}
.form-collapse-table {
	background: -ms-linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); margin: 0px 36px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; cursor: pointer; box-shadow: inset 0px 1px #fff, 0px 1px #ddd; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd; -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
}
.form-collapse-table:hover {
	background: -ms-linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
}
.form-collapse-table:active {
	background: -ms-linear-gradient(rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%); box-shadow: inset 0px 1px #fff; -moz-box-shadow: 0 1px #fff inset; -webkit-box-shadow: 0 1px #fff inset;
}
.form-pagebreak {
	background: none; margin: 0px 36px; height: auto; overflow: hidden; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid;
}
.form-pagebreak-back-container {
	padding: 24px 3px 24px 0px;
}
.form-pagebreak-next-container {
	padding: 24px 0px 24px 3px;
}
.form-pagebreak-next {
	margin-left: 0px;
}
.form-product-item {
	margin: 0px 0px 9px; padding: 6px; border-radius: 6px; overflow: hidden; -moz-border-radius: 6px 6px; -webkit-border-radius: 6px 6px;
}
.hover-product-item:hover {
	background: rgba(150, 150, 150, 0.1); -ms-zoom: 1;
}
.form-product-item br + br {
	display: none;
}
.form-product-item img {
	margin: 0px 12px 0px 0px; border-radius: 3px; float: left; display: block; position: static; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px;
}
.form-product-item .form-sub-label-container {
	margin: 9px 9px 0px 0px;
}
.form-product-item .form-sub-label {
	display: inline;
}
.form-product-item label {
	
}
.form-product-item .form-dropdown {
	
}
.form-product-details {
	font-size: 0.85em;
}
.form-product-item .form-radio {
	margin-right: 2px;
}
.form-product-item .form-checkbox {
	margin-right: 2px;
}
.form-line-column {
	width: auto; clear: none; float: left; white-space: nowrap;
}
.form-line-column-clear {
	width: auto; clear: left;
}
